@model Macreel_Project.Models.Bussiness.Project
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/fSelect.css" rel="stylesheet" />
<style>
    .col-form-label {
        font-size: 10px;
        font-weight: 500;
    }
    .h5 {
        text-align: center;
        background-color: #1d3c60;
        color: white;
    }

    .head-title th {
        font-size: !important;
        font-size: 14px !important;
        color: #fff;
        padding: 9px !IMPORTANT;
        font-weight: 700 !IMPORTANT;
    }

    .bg-info {
        background-color: #1a385b !important;
        /* padding: 6px !IMPORTANT; */
    }

    .table-bg {
        border: 1px solid #1a385b;
        margin-bottom: 30px;
    }
    .btn-primary {
        background-color: rgba(44,169,145,1) !important;
        border-color: rgba(44,169,145,1) !important;
        color: #fff !important;
        box-shadow: none !important;
    }
</style>
<!--<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Add Project</h1>
            </div>--><!-- /.col -->

        <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container-fluid -->
<!--</div>-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="panel-header panel-header-sm">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form id="TypeValidation" class="form-horizontal">
                <div class="card ">
                    @*<div class="card-header ">
                        <h4 class="card-title">Add Project</h4>
                    </div>*@
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-md-2">
                                <label for="inputUsername">Company Name</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <select id="CompanyName" class="form-control sn-required">
                                        <option>--Select Client--</option>
                                        @if (ViewBag.client != null)
                                        {
                                            foreach (var item in ViewBag.client as List<SelectListItem>)
                                            {
                                                if (Model.CompanyId == item.Value)
                                                {
                                                    <option selected value="@item.Value">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }

                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <label for="inputUsername">Client Name</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control sn-required" readonly id="ClientName" type="text" name="required" required="true" />
                                </div>
                            </div>
                        </div>
                        <div id="Clients" style="display:none;">
                            <h5 style="text-align:center;">
                                Company Detail
                            </h5>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="table-bg">
                                        <div class="table-responsive" style="overflow: auto;padding-bottom: -7px;">
                                            <table class="table">
                                                <thead style="background-color: rgba(22,160,133,0.9); color: white">
                                                    <tr class="head-title">
                                                        <th>Comapny Name</th>
                                                        <th>Contect Person</th>
                                                        <th>Mobile</th>
                                                        <th>Email-Id</th>
                                                        <th>StateName</th>
                                                        <th>CityName</th>
                                                        <th>GSTN</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span id="Company"></span>  </td>
                                                        <td><span id="ContectPerson"></span></td>
                                                        <td><span id="Mobile"></span></td>
                                                        <td><span id="EmailId"></span></td>
                                                        <td><span id="StateName"></span></td>
                                                        <td><span id="CityName"></span></td>
                                                        <td><span id="Gst"></span></td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label for="inputUsername">Project Name</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control sn-required" value="@Model.ProjectName" id="ProjectName" type="text" name="required" required="true" autocomplete="off" />
                                </div>
                            </div>
                           
                            <div class="col-md-2">
                                <label for="inputUsername">Project Starting Date</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control sn-required" value="@Model.ProjectStartingDate" id="ProjectStartingDate" type="date" name="required" required="true" autocomplete="off" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label for="inputUsername">Completion Date</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control sn-required" value="@Model.CompletionDate" id="CompletionDate" type="date" name="required" required="true" autocomplete="off" min="@DateTime.Today.ToString("yyyy-MM-dd")"  />
                                </div>
                            </div>
                           
                            <div class="col-md-2">
                                <label for="inputUsername">Project Delivery Date</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control sn-required" value="@Model.ProjectDeliveryDate" id="ProjectDeliveryDate" type="date" name="required" required="true" autocomplete="off" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label for="inputUsername">Total Amount</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input class="form-control sn-required" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g, '')" value="@Model.TotalAmount" id="TotalAmount" type="text" name="required" required="true" autocomplete="off" />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="inputUsername">Add Documentation</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">

                                    <div class="form-group form-file-upload form-file-multiple">
                                        <input type="file" id="Documentation" name="Documentation" multiple="" class="inputFileHidden">
                                        <input type="text" class="form-control inputFileVisible" placeholder="Please Select Project Documentation" multiple="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                            <div class="col-md-2">
                                <label for="inputUsername">Project Status</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @if (Model.ProjectStatus == null)
                                    {
                                        <select id="ProjectStatus" class="form-control sn-required">
                                            <option value="Pending">select Status</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Working">Working</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Delivered">Delivered</option>
                                        </select>
                                    }
                                    else if (Model.ProjectStatus == "Pending")
                                    {
                                        <select id="ProjectStatus" class="form-control sn-required">
                                            <option selected value="Pending">Pending</option>
                                            <option value="Working">Working</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Delivered">Delivered</option>
                                        </select>
                                    }
                                    else if (Model.ProjectStatus == "Working")
                                    {
                                        <select id="ProjectStatus" class="form-control sn-required">
                                            <option value="Pending">Pending</option>
                                            <option selected value="Working">Working</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Delivered">Delivered</option>
                                        </select>
                                    }
                                    else if (Model.ProjectStatus == "Completed")
                                    {
                                        <select id="ProjectStatus" class="form-control sn-required">
                                            <option value="Pending">Pending</option>
                                            <option value="Working">Working</option>
                                            <option selected value="Completed">Completed</option>
                                            <option value="Delivered">Delivered</option>
                                        </select>
                                    }
                                    else if (Model.ProjectStatus == "Delivered")
                                    {
                                        <select id="ProjectStatus" class="form-control sn-required">
                                            <option value="Pending">Pending</option>
                                            <option value="Working">Working</option>
                                            <option value="Completed">Completed</option>
                                            <option selected value="Delivered">Delivered</option>
                                        </select>
                                    }
                                </div>
                            </div>
                            <input type="text" hidden value="@Model.Id" id="Id" />
                            <input type="text" hidden value="@Model.ProjectCode" id="ProjectCode" />
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        @if (Model.Id != 0)
                        {
                            <button type="button" class="btn btn-primary" id="btnSubmit">Update</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
                        }

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<style type="text/css">
    .processing {
        position: fixed;
        z-index: 10000;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
        -moz-opacity: 0.8;
    }

    .center {
        z-index: 10000;
        margin: 300px auto;
        padding: 10px;
        width: 130px;
        background-color: White;
        border-radius: 10px;
        filter: alpha(opacity=100);
        opacity: 1;
        -moz-opacity: 1;
    }
</style>
<div class="processing" style="display: none">
    <div class="center">
        <span style="color:red;"><i style="font-size:14pt; font-weight:bold; opacity:1!important; margin-top:4px;" class="fa fa-spin fa-spinner"></i> Processing...</span>
    </div>
</div>
<script src="~/scripts/jquery-3.4.1.min.js"></script>
<script src="~/scripts/fSelect.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js" defer></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" defer></script>
<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd', // Adjust the date format as per your requirement
            minDate: 0 // Disallows dates before today
        });
    });
</script>
<script>

    $(document).ready(function () {
        var Id = '';
        Id = $("#Id").val();
        if(Id!=0)
        {
             GetDetail();
        }
    });
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "c-100:c+100",
        });
    });
    $('#CompanyName').change(function () {
        var me = $(this);
        $.ajaxSetup({
            beforeSend: function () {
                $(".processing").show();
                me.attr('disabled', 'disabled');
            },
            complete: function () {
                $(".processing").hide();
                me.attr('disabled', false);
            }
        });
        var ClientId = {
            ClientId: $(this).val()
        }
        $.ajax({
            type: "POST",
            url: "/Admin/GetCompanyDetail",
            data: JSON.stringify(ClientId),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (resultData) {
                if (resultData != null) {

                    $('#Company').text(resultData.CompanyName);
                    $('#ContectPerson').text(resultData.ContactPerson);
                    $('#Mobile').text(resultData.ContactNo);
                    $('#Gst').text(resultData.GSTNo);
                    $('#EmailId').text(resultData.EmailId);
                    $('#StateName').text(resultData.StateName);
                    $('#CityName').text(resultData.CityName);
                    $("#ClientName").val(resultData.ContactPerson);
                    $("#Clients").show();

                }
            }
        });

    });
    $("#btnSubmit").click(function () {
        $.ajaxSetup({
            beforeSend: function () {
                $(".processing").show();
            },
            complete: function () {
                $(".processing").hide();
            }
        });
        var flag = 0;
        var cntrl;
        $('input.sn-required,select.sn-required,textarea.sn-required').each(function () {
            cntrl = $(this);
            if (cntrl.val().toString().length == 0) {
                flag = 1;
                if (!cntrl.hasClass('sn-error'))
                    cntrl.removeClass('border-success');
                cntrl.addClass('sn-error');
                swal.fire({
                    title: "Error",
                    text: "Something is missing",
                    icon: "error",
                    timer: 6000,
                });
            }
            else {
                if (cntrl.hasClass('sn-error')) cntrl.removeClass('sn-error');
            }
        });
       // var EmployeeId = []
       //// var EmployeeName = []
       // $("#EmployeeName :selected").map(function (i, el) {
       //     var emp = $(el).val();
       //    // var emname = $(el).find("option:selected").text()
       //     EmployeeId.push(emp)
       //    // EmployeeName.push(emname)

       // });
        if (flag == 1) return;
        if (window.FormData !== undefined) {
            //var fileUpload = $("#Documentation").get(0);
            //var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            var totalFiles = document.getElementById("Documentation").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("Documentation").files[i];
                fileData.append("Documentation", file);
            }
        }
        fileData.append("Id", $("#Id").val()),
        fileData.append("CompanyId", $("#CompanyName").val()),
        fileData.append("CompanyName", $('#CompanyName').find("option:selected").text()),
        fileData.append("ClientName", $("#ClientName").val()),
        fileData.append("ProjectName", $("#ProjectName").val()),
        fileData.append("ProjectStartingDate", $("#ProjectStartingDate").val()),
        fileData.append("CompletionDate", $("#CompletionDate").val()),
        fileData.append("ProjectDeliveryDate", $("#ProjectDeliveryDate").val()),
        fileData.append("TotalAmount", $("#TotalAmount").val()),
        fileData.append("ProjectStatus", $("#ProjectStatus").val()),
        fileData.append("ProjectCode", $("#ProjectCode").val()),
      $.ajax
      ({
          type: "Post",
          url: "/Admin/InsertProject",
          data: fileData,
          contentType: false,
          dataType: "json",
          processData: false,
          success: function (message) {
                if (message == "success") {
                    swal.fire({
                        title: "Success",
                        text: "Successfully Added!",
                        icon: "success",
                        timer: 500,
                    });
                    window.location.href = "/Admin/ProjectList";
                }
                else if (message == "update") {
                    swal.fire({
                        title: "Success",
                        text: "Successfully Updated!",
                        icon: "success",
                        timer: 500,
                    });
                    window.location.href = "/Admin/ProjectList";
                }
                else {
                    swal.fire({
                        title: "Error",
                        text: "Something Wrong!",
                        icon: "error",
                        timer: 500,
                    });
                }

            }
        });
    });
    function GetDetail()
    {
            var ClientId = {
                ClientId: $('#CompanyName').val()
            }
            $.ajax({
                type: "POST",
                url: "/Admin/GetCompanyDetail",
                data: JSON.stringify(ClientId),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (resultData) {
                    if (resultData != null) {

                        $('#Company').text(resultData.CompanyName);
                        $('#ContectPerson').text(resultData.ContactPerson);
                        $('#Mobile').text(resultData.ContactNo);
                        $('#Gst').text(resultData.GSTNo);
                        $('#EmailId').text(resultData.EmailId);
                        $('#StateName').text(resultData.StateName);
                        $('#CityName').text(resultData.CityName);
                        $("#ClientName").val(resultData.ContactPerson);
                        $("#Clients").show();

                    }
                }
            });
    }
</script>



