
@model Macreel_Project.Models.Bussiness.Project
@{
    ViewBag.Title = "ProjectView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .col-form-label {
        font-size: 10px;
        font-weight: 500;
    }

    .h5 {
        text-align: center;
        background-color: #1d3c60;
        color: white;
    }

    .sn-required {
        color: #000000;
    }
</style>
@*<div class="content-header">*@
    @*<div class="container-fluid">*@
        <div class="row mb-2">
            <div class="col-sm-12">
                <h3 class="m-0" style="text-align: center; background: rgba(22,160,133,0.9); color:white">Project Profile</h3>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!--</div>--><!-- /.container-fluid -->
    <!--</div>-->
<div class="panel-header panel-header-sm">

</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form id="TypeValidation" class="form-horizontal">
                <div class="card ">
                   
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-md-2">
                                <label>Company Name:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.CompanyName</p>
                            </div>

                            <div class="col-md-2">
                                <label>Clien Name:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.ClientName</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label>Project Name:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.ProjectName</p>
                            </div>

                            <div class="col-md-2">
                                <label>Project Code:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.ProjectCode</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label>Project Starting Date:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.ProjectStartingDate</p>
                            </div>

                            <div class="col-md-2">
                                <label>Project Completion Date:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.CompletionDate</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label>Project Delivery Date:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.ProjectDeliveryDate</p>
                            </div>

                            <div class="col-md-2">
                                <label>Total Amount:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.TotalAmount</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <label>Status:</label>
                            </div>
                            <div class="col-sm-4">
                                <p class="form-control-static">@Model.ProjectStatus</p>
                            </div>

                            <div class="col-md-2">
                                <label for="inputUsername">Employee's</label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @if (ViewBag.Emp != null)
                                    {
                                        @ViewBag.Emp
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>



