@model Macreel_Project.Models.Bussiness.Employee
@{
    ViewBag.Title = "Update_password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=radio] {
        margin: 8px;
        margin-left: 30px;
    }
    button{
        margin-left:500px;
    }
    .form_button_box button{
        width:80px !important;
    }
    .btn-primary {
        background-color: rgba(44,169,145,1) !important;
        border-color: rgba(44,169,145,1) !important;
        color: #fff !important;
        box-shadow: none !important;
    }
</style>


<!--<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0">Update Password</h1>
            </div>--><!-- /.col -->
            <!-- /.col -->
        <!--</div>--><!-- /.row -->
    <!--</div>--><!-- /.container-fluid -->
<!--</div>-->

<section class="content">
    <div class="container-fluid">

        <section class="content">
            @using (Html.BeginForm("Update_password", "admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="inputEmployeeName">Old Password</label>
                            <input type="text" class="form-control" id="" name="" value="@Model.Password" readonly>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmployeeName">New Password</label>
                            <input type="text" class="form-control" id="pass" name="password" placeholder="Enter password" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmployeeName">New Confirm Password</label>
                            <input type="text" class="form-control" id="cnf_pass" name="password" placeholder="Enter confirm password" required>
                        </div>
                        @*<input type="hidden" name="id" value="@Model.id" />*@
                        <div class="form_button_box">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>

                </form>

            }
        </section>
    </div>

</section>


<script>

        function compare_Input() {
            var pass = document.getElementById('pass').value;
            var confr_pass = document.getElementById('cnf_pass').value;


            if (pass != confr_pass) {

                var box = document.getElementById('cnf_pass')
                box.value = "";
                box.style.border = '2px solid red';

            }
            else {
                var box = document.getElementById('cnf_pass')
                box.style.border = '';
            }

        }
    document.getElementById('pass').addEventListener("blur", compare_Input);
    document.getElementById('cnf_pass').addEventListener("blur", compare_Input);
       /* document.getElementById('ContentPlaceHolder1_APRVL_AMT').attachEvent("blur", compare_Input);*/

</script>

<script type="text/javascript">

    @if(TempData["Message"] != null) {<text >
            $(window).load(function()
                {
                $(document).ready(function()
                {
                    @*var tt = @TempData["para"];*@
                    var tt = @Html.Raw(Json.Encode(TempData["para"]));
                    console.log(tt);
                    if (tt === "true") {
                        Swal.fire({
                            icon: 'success',
                            title: "Success",
                            text: "@TempData["Message"]",
                        });
                    }
                    else{
                        Swal.fire({
                            icon: 'error',
                            title: "Error",
                            text: "@TempData["Message"]",
                        });
                    }
                });
            }); </text>
    }
</script>

